<template>
    <div class="paymentInfo">
        <div class="paymentInfoSuccess">
            <p>Ваша оплата прошла успешна!</p>
        </div>
        <div class="paymentInfoData">
            <div class="payment-info">
                <div class="payment-info-title">
                    <p>Информация по оплате</p>
                </div>
                <div class="payment-info-content">
                    <div class="payment-info-content-box">
                        <span>Номер счёта:</span>
                        <span>{{paymentData.accountNumber}}</span>
                    </div>
                    <div class="payment-info-content-box">
                        <span>Сумма платежа:</span>
                        <span>{{paymentData.sumCount}} руб.</span>
                    </div>
                    <div class="payment-info-content-box">
                        <span>Держатель карты:</span>
                        <span>{{paymentData.user}}</span>
                    </div>
                    <div class="payment-info-content-box">
                        <span>Дата оплаты:</span>
                        <span>{{paymentData.createdAt | moment("DD/MM/YYYY, h:mm:ss a")}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  name: "Info",
  data() {
    return {
      paymentData: {}
    };
  },
  created() {
    let data = this.$store.getters["payment/getPaymentData"];
    if (data.length == 0) {
      this.$router.push("/");
    } else {
      this.paymentData = data;
    }
  }
};
</script>
<style>
.paymentInfo {
  padding: 40px 50px;
  background-color: #f7f9f8;
}
    .paymentInfoSuccess p {
        margin-bottom: 40px;
        font-size: 20px;
        text-align: center;
    }
</style>
