<template>
    <div class="paymentHistory">
        <v-client-table
                :data="tableData"
                :columns="columns"
                :options="options">
        </v-client-table>
    </div>
</template>

<script>
export default {
  name: "History",
  components: {},
  data() {
    return {
      columns: [
        "user",
        "accountNumber",
        "sumCount",
        "visaCardNumber",
      ],
      tableData: [],
      options: {
        headings: {
          user: "Имя держателя",
          accountNumber: "Номер счёта",
          sumCount: "Сумма платежа",
          visaCardNumber: "Номер карты",
        },
        sortable: ["user", "accountNumber"],
        filterable: ["user", "accountNumber"]
      }
    };
  },
  mounted() {
    this.tableData = this.$store.getters["payment/getHistory"];
  }
};
</script>
<style>
.paymentHistory {
  padding: 40px 50px;
  background-color: #f7f9f8;
}
</style>
