<template>
    <div class="sideBar">
        <ul>
            <li>Личный кабинет</li>
            <router-link tag="li" to="/">
                Платежи(активная)
            </router-link>
            <router-link tag="li" to="/payment-history">
                История платежей
            </router-link>
            <li>Настройки</li>
            <li>Выйти</li>
        </ul>
    </div>
</template>
<script>
export default {
  name: "SideBar",
  data() {
    return {};
  }
};
</script>
<style  scoped>
.sideBar {
  width: 20%;
}
.sideBar ul li.router-link-active {
  color: #e4e9ed;
  background-color: #2a2c38;
}
.sideBar ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sideBar ul li {
    cursor: pointer;
  color: #ffffff;
  padding: 20px 30px;
  background-color: #1f2229;
}
</style>
