<template>
  <div id="app">
    <div class="cont">
      <SideBar></SideBar>
      <div class="content">
        <router-view/>
        <Footer></Footer>
      </div>
    </div>
  </div>
</template>
<script>
  import SideBar from "./components/layout/SideBar"
  import Footer from "./components/layout/Footer"
  export default {
    name: "App",
    components: {
      SideBar,
      Footer,
    },
    data() {
      return {}
    }
  }
</script>
<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101115;
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.content {
  width: 80%;
}
body, html {
  height: 100%;
  margin: 0;
}
  .cont {
    width: 80%;
    margin: 30px auto;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
</style>
