<template>
    <div class="payment-card-info-num">
        <div class="payment-card-info-visa">
            <label>Номер карты</label>
            <PaymentInputVisa :class="{'errorInput' : ($v.visaCardNumber.first.$error)}" v-model.trim="$v.visaCardNumber.first.$model"></PaymentInputVisa>
            <PaymentInputVisa :class="{'errorInput' : ($v.visaCardNumber.second.$error)}" v-model.trim="$v.visaCardNumber.second.$model"></PaymentInputVisa>
            <PaymentInputVisa :class="{'errorInput' : ($v.visaCardNumber.third.$error)}" v-model.trim="$v.visaCardNumber.third.$model"></PaymentInputVisa>
            <PaymentInputVisa :class="{'errorInput' : ($v.visaCardNumber.four.$error)}" v-model.trim="$v.visaCardNumber.four.$model"></PaymentInputVisa>
        </div>
        <div class="payment-card-info-validity">
            <label>Срок действия</label>
            <DateDropdown max="2100" min="2000" id="validity" default="" :class="{'errorInput' : ($v.validity.$error)}" v-model.trim="$v.validity.$model"></DateDropdown>
        </div>
        <div class="payment-card-info-user">
            <PaymentUserInput :class="{'errorInput' : ($v.user.$error)}" v-model.trim="$v.user.$model"></PaymentUserInput>
        </div>
    </div>
</template>
<script>
import DateDropdown from "vue-date-dropdown";
import PaymentInputVisa from "./PaymentInputVisa";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import PaymentUserInput from "./PaymentUserInput";
import { helpers } from "vuelidate/lib/validators";
const onlyEnglish = helpers.withParams({ type: "onlyEnglish" }, value => {
  return !helpers.req(value) || /^[a-zA-Z/]|[ ]+$/.test(value);
});
export default {
  name: "PaymentCardData",
  props: {
    value: Boolean
  },
  components: {
    DateDropdown,
    PaymentInputVisa,
    PaymentUserInput
  },
  data() {
    return {
      validity: "",
      visaCardNumber: {
        first: "",
        second: "",
        third: "",
        four: ""
      },
      user: ""
    };
  },
  validations: {
    validity: {
      required
    },
    visaCardNumber: {
      first: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(4)
      },
      second: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(4)
      },
      third: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(4)
      },
      four: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(4)
      }
    },
    user: {
      required,
      minLength: minLength(4),
      onlyEnglish
    }
  },
  methods: {
    checkValidate() {
      this.$v.$touch();
      return this.$v.$invalid;
    },
    getData() {
      return {
        validity: this.validity,
        visaCardNumber: `${this.visaCardNumber.first} ${
          this.visaCardNumber.second
        } ${this.visaCardNumber.third} ${this.visaCardNumber.four}`,
        user: this.user
      };
    }
  }
};
</script>
<style>
.date-dropdown-select.month {
  display: none;
}
.payment-card-info-visa label,
.payment-card-info-validity label {
  display: block;
  color: #b5bdc8;
}
.payment-card-info-visa {
  margin-bottom: 15px;
}
.payment-card-info-user {
  margin-top: 15px;
}
</style>
