<template>
    <div class="payment">
        <div class="payment-info">
            <div class="payment-info-title">
                <p>Информация по оплате</p>
            </div>
            <div class="payment-info-content">
                <div class="payment-info-content-box">
                    <span>Номер счёта:</span>
                    <span>{{accountNumber}}</span>
                </div>
                <div class="payment-info-content-box">
                    <span>Сумма платежа:</span>
                    <span>{{sumCount}} руб.</span>
                </div>
            </div>
        </div>
        <div class="payment-card">
            <div class="payment-card-title">
                <h3>Данные банковской карты</h3>
            </div>
            <div class="payment-card-info">
                <PaymentCardData ref="paymentCardData" ></PaymentCardData>
                <PaymentCardCvv :class="{'errorInput' : ($v.cvv.$error)}" v-model.trim="$v.cvv.$model"></PaymentCardCvv>
            </div>
        </div>
        <div class="payment-btn">
            <button @click="pay()">Оплатить</button>
        </div>
    </div>
</template>

<script>
import PaymentCardCvv from "./PaymentCardCvv";
import PaymentCardData from "./PaymentCardData";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import * as types from "@/stores/modules/payment/types";

export default {
  name: "Payment",
  components: {
    PaymentCardCvv,
    PaymentCardData
  },
  data() {
    return {
      accountNumber: "123123123123123",
      sumCount: "100",
      cvv: "",
      dataValidation: false
    };
  },
  validations: {
    cvv: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(3)
    }
  },
  methods: {
    checkVal() {
      return this.$refs.paymentCardData.checkValidate();
    },
    getCardData() {
      return this.$refs.paymentCardData.getData();
    },
    pay() {
      this.$v.$touch();
      if (!this.$v.$invalid && !this.checkVal()) {
        let data = this.getCardData();
        data.cvv = this.cvv;
        data.accountNumber = this.accountNumber;
        data.sumCount = this.sumCount;
        data.createdAt = new Date();
        this.$store.dispatch("payment/" + types.A_ADD_NEW_PAYMENT, data);
        this.$store
          .dispatch("payment/" + types.A_SAVE_PAYMENT_DATA, data)
          .then(() => {
            this.$router.push("/payment-info");
          });
      }
    }
  }
};
</script>
<style>
.payment {
  padding: 40px 50px;
  background-color: #f7f9f8;
}
.payment-info-content-box {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.payment-info-title {
  color: #939ba5;
}
.payment-info-content-box :first-child {
  margin-right: 15px;
  color: #939ba5;
}
.payment-card {
  margin: 50px 0;
}
.payment-card-info {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.payment-card-title {
  margin-bottom: 30px;
}
.payment-card-info-num {
  padding: 20px;
  z-index: 22;
  width: 55%;
  background-color: #f7f9f8;
}
.payment-card-info-num,
.payment-card-info-cvv {
  min-height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.payment-card-info-cvv {
  width: 60%;
  height: 240px;
  background-color: #f7f9f8;
  position: absolute;
  left: 20%;
  top: 21%;
}
.errorInput .payment-card-info-cvv-form input,
input.errorInput {
  border-color: red !important;
}
input:focus {
  outline: none;
}
.payment-btn button {
  padding: 12px 40px;
  background-color: #0054b4;
  border: none;
  color: #ffffff;
  border-radius: 40px;
}
</style>
