<template>
    <input type="text" v-mask="'####'" class="payment-input-visa" v-model.trim="text">
</template>
<script>
export default {
  name: "PaymentInputVisa",
  props: {
    value: {
      type: String
    }
  },
  data() {
    return {
      text: ""
    };
  },
  watch: {
    value(val) {
      this.text = val;
    },
    text(val) {
      this.$emit("input", val);
    }
  }
};
</script>
<style>
input.payment-input-visa {
  width: 20%;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 11px 8px;
  margin-right: 10px;
}
</style>
