<template>
    <div class="payment-card-info-cvv">
        <div class="payment-card-info-cvv-line"></div>
        <div class="payment-card-info-cvv-code">
            <div class="payment-card-info-cvv-form">
                <label for="cvv-code">Код CVV2 / CVC2</label>
                <input type="text" v-mask="'###'" id="cvv-code" v-model.trim="cvv">
            </div>
        </div>
    </div>
</template>
<script>
export default {
  name: "PaymentCardCvv",
  props: {
    value: String
  },
  data() {
    return {
      cvv: typeof this.value === "undefined" ? "" : this.value
    };
  },
  watch: {
    value(val) {
      this.cvv = val;
    },
    cvv(val) {
      this.$emit("input", val);
    }
  }
};
</script>
<style>
.payment-card-info-cvv-code,
.payment-card-info-cvv-line {
  position: relative;
  top: 14%;
}
.payment-card-info-cvv-line {
  width: 100%;
  height: 50px;
  background-color: #ddd;
  border-radius: 2px;
}
.payment-card-info-cvv-code {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.payment-card-info-cvv-form {
  width: 25%;
  margin-right: 25px;
}
.payment-card-info-cvv-form label {
  color: #b5bdc8;
}
.payment-card-info-cvv-form input {
  padding: 15px 0px 15px 15px;
  border-radius: 2px;
  width: 100%;
  border: 1px solid #b5bdc8;
}
</style>
