<template>
    <input type="text" placeholder="Держатель карты" class="payment-user-input" v-model.trim="text">
</template>

<script>
export default {
  name: "PaymentUserInput",
  props: {
    value: {
      type: String
    }
  },
  data() {
    return {
      text: ""
    };
  },
  watch: {
    value(val) {
      this.text = val;
    },
    text(val) {
      this.$emit("input", val);
    }
  }
};
</script>
<style>
    input.payment-user-input {
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        padding: 11px 8px;
    }
</style>